.container {
  margin: 0 auto;
  width: 800px;
}

.postList {
  cursor: pointer;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--color-gray-400);
  padding: 12px 8px 4px 8px;
  margin-top: 8px;
  width: 80%;
}

.searchBar input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  color: inherit;
  font-size: var(--font-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-bold);
}

.searchBar input::placeholder {
  color: var(--color-gray-600);
}

.top {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 60px;
  gap: 32px;
  padding: 0 32px;
}

.button {
  display: block;
}

.buttonWrapper {
}

.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 24px 0;
}

.activePage {
  color: var(--color-sub);
}
