.container {
  margin: 0 auto;
  width: 800px;
}

.postList {
  cursor: pointer;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--color-gray-400);
  padding: 12px 8px 4px 8px;
  margin-top: 8px;
  width: 80%;
}

.searchBar input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  color: inherit;
  font-size: var(--font-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-bold);
}

.searchBar input::placeholder {
  color: var(--color-gray-600);
}

.top {
  display: flex; /* flexbox 사용 */
  flex-direction: row; /* 가로 방향 정렬 (기본값) */
  justify-content: space-between; /* 양쪽 끝으로 요소 배치 */
  align-items: center; /* 세로축 가운데 정렬 */
  width: 100%; /* 부모 컨테이너의 너비 사용 */
  padding: 100px 50px 20px 50px; /* 위아래 20px, 좌우 50px 간격 */
  gap: 16px; /* 요소 간 간격 */
}

.buttonWrapper {
  display: flex; /* 내부 정렬에 flexbox 사용 */
}

.button {
  margin-top: auto; /* 내부 요소를 아래로 밀기 */
}
