.login-box {
  position: absolute;
  width: 800px;
  height: 600px;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo-wrapper {
  width: 480px;
  height: 260px;
  overflow: hidden;
  animation: fade-in-from-up 1s;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: var(--color-primary);
}

.login-button {
  display: block;
  width: 366px;
  height: 90px;
  cursor: pointer;
  opacity: 0;
  animation: fade-in-from-up 1s 0.75s forwards;
}

.login-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fade-in-from-up {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
