.container {
  flex: 248px 0 0;
  display: flex;
  gap: 8px;

  .avatar-wrapper {
    flex: 60px 0 0;
    height: 60px;
  }

  .content {
    flex: 180px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-gray-100);
    user-select: none;
  }
}
