.container {
  width: 100%;
  display: flex;
  gap: 8px;

  .profile-img-wrapper {
    flex: 32px 0 0;
    height: 32px;
  }
  .content {
    flex-grow: 1;
    text-wrap: wrap;
    color: var(--color-gray-100);

    .header {
      display: flex;
      align-items: center;
      gap: 8px;

      .rating {
        display: flex;
        align-items: center;
      }
    }

    textarea {
      display: block;
      width: 100%;
      resize: none;
      background-color: var(--color-gray-900);
      outline: none;
      border: 1px solid var(--color-gray-800);
      color: var(--color-gray-100);
      padding: 8px;
      border-radius: 8px;
      margin-bottom: 8px;
    }
  }

  .chart-wrapper {
    flex: 60px 0 0;
    width: 60px;
    height: 60px;
  }
}

.submit-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
