.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 550px;
}

.wrapper {
  width: 300px;
  opacity: 0;
  animation: fade-out 1s 0s forwards;
}

@keyframes fade-out {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
